totem {
	version: 2

	crypto_cipher: aes256
  crypto_hash: sha1
  
  token: 3000
  token_retransmits_before_loss_const: 10

  
	interface {
		ringnumber: 0
		bindnetaddr: {{vars['ansible_'+pmcs_interface].ipv4.address}}
		ttl: 1
	}
	transport: udpu
}

logging {
        fileline: off
        to_logfile: yes
        to_syslog: yes
        logfile: /var/log/corosync/corosync.log
        debug: off
        timestamp: on
        logger_subsys {
                subsys: QUORUM
                debug: off
        }
}

quorum {
        provider: corosync_votequorum
        expected_votes: 2
}

nodelist {
{% for member in pmcs_members %}
        node {
                name: {{member}}
                nodeid: {{hostvars[member].pmcs_node_index|default(loop.index)}}
                ring0_addr: {{hostvars[member]['ansible_'+pmcs_interface].ipv4.address}}
        }
{% endfor %}
}
